.title {
    font-weight:bolder;
    text-shadow: 1px 1px 7px yellow;
    color: white;
}

.card{
    cursor: pointer;
}

.cardFront{
    padding: 10;
    border: '2px solid white';
    background-color:'white';
    border-radius: 5;
}

.cardFront :hover{
    opacity: 90%;
    transform: scale(1.05);
}
.cardPic :hover{
    opacity: 100%;
    transform: scale(1.0);
}

.cardBack{
    border: '2px solid white';
    /* height: 390; */
    border-radius: 5;
}
.cardBack-p {
    overflow-y: auto;
    max-height: 70%;
    color: white;
}

.cardBack-h5 {
    color: white;
}