.WholeCard h1 {
    font-weight:bolder;
    text-shadow: 1px 1px 7px yellow;
    color: white;
    font-size: 20px;
}

.Card{
    cursor: pointer;
    text-align: center;
}

.Card :hover{
    opacity: 100%;
    transform: scale(1.01);
}

.CardPic{
    padding: 10px;
    border: 2px;
    border-color: white;
    background-color:white;
    border-radius: 5px;
    height: 370px;
    border-style: solid;
}

.CardPic :hover{
    opacity: 100%;
    transform: scale(1.0);
}

.CardBack{
    border: 2px;
    border-color: white;
    height: 390px;
    border-radius: 5px;
    border-style: solid;
}

.CardBack p {
    overflow-y: auto;
    max-height: 70%;
    color: white;
}

.CardBack h5 {
    color: white;
    padding: 10px;
}